@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../images/frame.png");
	margin:0px;
	color: rgb(129, 0, 0);
	font-weight: 100;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	
	}
a{
	color: rgb(129, 0, 0);
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
	
#wrapper{
	background-image: url("../images/texture.jpg");
	min-height:100%;
	background-color: #E8D0A9;
	margin-left: 10%;
	margin-right: 10%;
	bottom: 0px;
}

#title{
	line-height:45px;
}

.title{
	padding: 2%;
	line-height: 1.7;
	font-weight: bold;
	font-style: oblique;
	font-size: xx-large;
	font-variant: small-caps;	 
	color: #952d2e;
}

#header{
	background-color:#E8D0A9;
	height:auto;
}

#menus{
	background-color: darkred;
	font-weight: bold;
	padding-left: 15%;
	color: #E8D0A9;	
}
	
#menubar li{
	line-height:30px;
	display: inline;
	list-style: none;
}

#menubar li.currentpage a{
	text-decoration: underline ;
}

#menubar li.currentpage a:hover{
	text-decoration:underline;
}

#menubar a{
	color: #E8D0A9;
	text-decoration:none;
	padding-left:3%;
	padding-right:3%;
	padding-top: 0.7%;
	padding-bottom: 0.8%;
}

#menubar a:hover{
	color: darkred;
	text-decoration:none;
	background-color: #E8D0A9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8D0A9', endColorstr='#CF9D49'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#E8D0A9), to(#CF9D49)); 
	background: -moz-linear-gradient(top,  #E8D0A9,  #CF9D49); 
}

#content_header{
	color: rgb(129, 0, 0);
	font-weight: bold;
	font-size: 17px;
}

.form_header{
	padding: 3%;
	color: rgb(129, 0, 0);
	font-family: inherit;
	font-weight: bold;
	font-size: 20px;
}
	
form{
	padding: 0px 25px 25px 25px;

}
.centerform{
	background-color: #E8D0A9;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 5px;
}

.centerform strong{
	text-decoration:underline;
}

.button{
	background-color:#B30000;
	color:#FFF;
	border: 0px;
	padding: 1.5%;
}

.button:hover{
	background-color:#FFF;
	color:#B30000;
	border: 0px;
	padding: 1.5%;
}


.submitbutton{
	background-color:#B30000;
	color:white;
	border: 0px;
	padding: 1.5%;
}

.submitbutton:hover{
	background-color:white;
	color:#B30000;
	border: 0px;
	padding: 1.5%;
}

.initval{
	font-style: italic;
	color: darkgreen;
}

#footer{
	position:static;
	bottom:-1px;
	background-color:#E8D0A9;
	padding:2%;
}

#content{
	min-height:500px;
}
